*{

 margin: 0;
 padding: 0;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

 body {

 background-image: url(./imagenes/fondo.png);

}


.cabecera{

 height: 20rem;   
 color: #ffbd59;
 background: rgb(0,15,34);
 background: linear-gradient(180deg, rgba(0,15,34,1) 95%, rgba(0,15,34,0) 100%); 
 display: grid;
 grid-template-columns: 1fr 1fr 1fr; 
 grid-template-rows: 0.5fr 0.5fr;
 justify-items: end;
 align-items: center;


}

.container-logo {

 grid-row: 1 / span 3;

}


.logo {

 width:50%;
 height:auto;

}


.frase {

 color: #f8d298;   
 font-style: oblique;
 text-align: end;
 padding-top: 2%;
 padding-right: 3%;
 padding-bottom: 6%;
 grid-column: 2 / span 3;

}


.nav {

 width: 100%;
 padding-bottom: 1%;
 margin-bottom: 2%;
 font-size: 125%;
 grid-column-end: 4;
 grid-column-start: 2;
 display: flex;

}


.lista-nav {

 list-style: none;
 width: 100%;
 display: flex;
 justify-content: space-around;

}

li :hover {

transition: all 0.5s; 
color: #f4dfc0;

}


.link-nav {

 color: #ffbd59;
 text-decoration: none;

}

.img-carousel {

object-fit: cover;
width: 100%;
height: 550px;

}


.texto-carousel {

 color: #f8d298;
 background-color: rgb(0,15,34);
 border: 2px solid #ffbd59;
 border-radius: 7px;
 -webkit-box-shadow: 3px 8px 12px 1px rgba(0,0,0,0.57); 
 box-shadow: 3px 8px 12px 1px rgba(0,0,0,0.57);
 padding: 2%;

}


.titulo-art {

font-weight: bold;
color: #ffbd59;

}


.link-art {

color: #f8d298;

}

.texto-director {

 color:rgb(0,15,34);
 background-color: #ffbd59;
 text-align: center;

}

.titulo-dir {

font-weight: bold;

}

span {

font-style: oblique;

}

.pie {

 height: 10rem;
 background: rgb(0,15,34);
 background: linear-gradient(180deg, rgba(0,15,34,0) 0%, rgba(0,15,34,1) 10%);
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 grid-template-rows: 1fr 1fr 1fr;
 justify-items: center;
 align-items: center;
 display: flex;

}


.logo2 {

 width: 20%;
 height: auto;
 padding-top: 1%;
 padding-left: 5%;

}


.container-contacto {

 color: #ffbd59;
 font-size: 133%;
 text-align: center;

}


.mail {

 font-size: 75%;    
 padding-top: 0.25%;

}


.container-redes {
 
width: 50%;   
display: flex;
justify-content: flex-end;

}


.img-redes {

 width: 35%;
 height: auto;

}

.container-img-redes :hover {

transform: scale(1.5);
transition: all 0.5s;   

}


@media screen and (max-width: 450px) {

    .cabecera {
        height: 10rem;  
        font-size: 60%;
    } 


    .pie {

        height: 5rem;

    }

    .container-contacto {
 
        font-size: 75%;
        padding-right: 25%;
       
       }

    .img-redes {

        width: 60%;
        padding-right: 15%;
    }   

}


@media screen and (min-width: 451px) and (max-width: 960px) {

    .cabecera {

     height: 12rem;
     font-size: 85%;

    } 



    .pie {

        height: 10rem;

    }

    .container-contacto {
 
        font-size: 90%;
        padding-right: 20%;
       
       }

    .img-redes {

        width: 35%;
        padding-right: 15%;
    }   

}
