body .cabecera {
  height: 20rem;
  color: #ffbd59;
  background: rgb(0, 15, 34);
  background: linear-gradient(180deg, rgb(0, 15, 34) 95%, rgba(0, 15, 34, 0) 100%);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 0.5fr;
  justify-items: end;
  align-items: center;
}
body .cabecera .container-logo {
  grid-row: 1/span 3;
}
body .cabecera .container-logo .logo {
  width: 50%;
  height: auto;
}
body .cabecera .frase {
  color: #f8d298;
  font-style: oblique;
  text-align: end;
  padding-top: 2%;
  padding-right: 3%;
  padding-bottom: 6%;
  grid-column: 2/span 3;
}
@media screen and (max-width: 450px) {
  body .cabecera .frase {
    font-size: 13px;
  }
}
@media screen and (min-width: 451px) and (max-width: 960px) {
  body .cabecera .frase {
    font-size: 15px;
  }
}
body .cabecera .nav {
  width: 100%;
  padding-bottom: 1%;
  margin-bottom: 2%;
  font-size: 125%;
  grid-column-end: 4;
  grid-column-start: 2;
  display: flex;
}
body .cabecera .nav .lista-nav {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
body .cabecera .nav .lista-nav .link-nav {
  color: #ffbd59;
  text-decoration: none;
}
body .cabecera .nav .lista-nav li :hover {
  transition: all 0.5s;
  color: #f4dfc0;
}
@media screen and (min-width: 451px) and (max-width: 960px) {
  body .cabecera .nav .lista-nav {
    padding: 15px;
  }
}
@media screen and (max-width: 450px) {
  body .cabecera .nav {
    font-size: 13px;
    padding-right: 7px;
  }
}
@media screen and (min-width: 451px) and (max-width: 960px) {
  body .cabecera .nav {
    font-size: 14px;
  }
}
@media screen and (max-width: 450px) {
  body .cabecera {
    height: 12rem;
  }
}
@media screen and (min-width: 451px) and (max-width: 960px) {
  body .cabecera {
    height: 15rem;
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body main section div .card {
  border: 2px solid rgb(0, 15, 34);
}
body main section div .card .texto-director {
  color: rgb(0, 15, 34);
  background-color: #ffbd59;
  text-align: center;
}
body main section div .card .texto-director .titulo-dir {
  font-weight: bold;
}
body main section div .card .texto-director p span {
  font-style: oblique;
}

body {
  background-color: #012452;
}
body main section .carousel div .img-carousel {
  object-fit: cover;
  width: 100%;
  height: 550px;
  border: solid 2px #012e69;
  border-radius: 7px;
}
body main section .carousel div div .texto-carousel {
  color: #ffbd59;
  background-color: rgb(0, 15, 34);
  border: solid 2px #ffbd59;
  border-radius: 7px;
  -webkit-box-shadow: 3px 8px 12px 1px rgba(0, 0, 0, 0.57);
  box-shadow: 3px 8px 12px 1px rgba(0, 0, 0, 0.57);
  padding: 2%;
}
body main section .carousel div div .texto-carousel .titulo-art {
  font-weight: bold;
  color: #ffbd59;
}
body main section .carousel div div .texto-carousel .link-art {
  color: #f8d298;
}

body .pie {
  justify-items: center;
  align-items: center;
  display: flex;
}

body .pie {
  height: 10rem;
  background: rgb(0, 15, 34);
  background: linear-gradient(180deg, rgba(0, 15, 34, 0) 0%, rgb(0, 15, 34) 10%);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
body .pie div .logo2 {
  width: 20%;
  height: auto;
  padding-top: 1%;
  padding-left: 5%;
}
@media screen and (max-width: 450px) {
  body .pie div .logo2 {
    width: 40%;
    height: auto;
  }
}
@media screen and (min-width: 451px) and (max-width: 960px) {
  body .pie div .logo2 {
    width: 40%;
    height: auto;
  }
}
body .pie .container-contacto {
  color: #ffbd59;
  font-size: 133%;
  text-align: center;
}
body .pie .container-contacto .mail {
  font-size: 75%;
  padding-top: 0.25%;
}
@media screen and (max-width: 450px) {
  body .pie .container-contacto {
    font-size: 90%;
    padding-right: 25%;
  }
}
@media screen and (min-width: 451px) and (max-width: 960px) {
  body .pie .container-contacto {
    font-size: 90%;
    padding-right: 20%;
  }
}
body .pie .container-redes {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
body .pie .container-redes .img-redes {
  width: 35%;
  height: auto;
}
@media screen and (max-width: 450px) {
  body .pie .container-redes .img-redes {
    width: 60%;
    padding-right: 15%;
  }
}
@media screen and (min-width: 451px) and (max-width: 960px) {
  body .pie .container-redes .img-redes {
    width: 50%;
    padding-right: 15%;
  }
}
@media screen and (max-width: 450px) {
  body .pie {
    height: 10rem;
  }
}
@media screen and (min-width: 451px) and (max-width: 960px) {
  body .pie {
    height: 10rem;
  }
}

body .pie {
  justify-items: center;
  align-items: center;
  display: flex;
}

body main section div .card {
  border: 2px solid rgb(0, 15, 34);
}
body main section div .card .texto-actor {
  color: rgb(0, 15, 34);
  background-color: #ffbd59;
  text-align: center;
}
body main section div .card .texto-actor .titulo-actor {
  font-weight: bold;
}
body main section div .card .texto-actor p span {
  font-style: oblique;
}

body main section div .card {
  border: 2px solid rgb(0, 15, 34);
}
body main section div .card .texto-compositor {
  color: rgb(0, 15, 34);
  background-color: #ffbd59;
  text-align: center;
}
body main section div .card .texto-compositor .titulo-compositor {
  font-weight: bold;
}
body main section div .card .texto-compositor p span {
  font-style: oblique;
}

body .newsletter {
  height: 400px;
  display: grid;
  justify-items: center;
  align-items: center;
}
body .newsletter .container-formulario {
  background-color: #ffbd59;
  border: solid 2px rgb(0, 15, 34);
  border-radius: 7px;
  width: 75%;
  padding: 6px;
}
body .newsletter .container-formulario .container-parrafo {
  display: flex;
  justify-content: center;
}
body .newsletter .container-formulario .container-parrafo .texto-newsletter {
  color: rgb(0, 15, 34);
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
@media screen and (max-width: 450px) {
  body .newsletter .container-formulario .container-parrafo .texto-newsletter {
    font-size: 15px;
  }
}
@media screen and (min-width: 451px) and (max-width: 960px) {
  body .newsletter .container-formulario .container-parrafo .texto-newsletter {
    font-size: 15px;
  }
}
body .newsletter form .formulario {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}
body .newsletter form .formulario input {
  background-color: #f8d298;
  border: solid 2px rgb(0, 15, 34);
  width: 25%;
  padding: 3px;
}
@media screen and (max-width: 450px) {
  body .newsletter form .formulario input {
    width: 50%;
  }
}
@media screen and (min-width: 451px) and (max-width: 960px) {
  body .newsletter form .formulario input {
    width: 50%;
  }
}
body .newsletter form .formulario label {
  color: rgb(0, 15, 34);
}
@media screen and (max-width: 450px) {
  body .newsletter form .formulario label {
    font-size: 12px;
  }
}
@media screen and (min-width: 451px) and (max-width: 960px) {
  body .newsletter form .formulario label {
    font-size: 15px;
  }
}
body .newsletter form .formulario button {
  background-color: #f8d298;
  color: rgb(0, 15, 34);
  border: solid 2px rgb(0, 15, 34);
  padding: 3px;
  margin-top: 6px;
  margin-bottom: 6px;
}

body .principal .resenas {
  display: grid;
  justify-items: center;
}
body .principal .resenas .container-card {
  background-color: #ffbd59;
  color: rgb(0, 15, 34);
  border: solid 2px rgb(0, 15, 34);
  border-radius: 7px;
}
body .principal .resenas .container-card .contenido-card {
  padding: 3px;
}
body .principal .resenas .container-card .contenido-card div div .titulo {
  font-weight: bold;
  font-size: 30px;
}
body .principal .resenas .container-card .contenido-card div div .subtitulo {
  font-style: oblique;
}
body .principal .resenas .container-card .contenido-card div div .subtitulo span {
  font-weight: bold;
}
body .principal .resenas .container-card .contenido-card div div .calificacion {
  font-style: oblique;
}
body .principal .resenas .container-card .contenido-card div div .calificacion span {
  font-weight: bold;
}
body .principal .resenas .container-card .contenido-card div div .texto span {
  font-weight: bold;
}

/*# sourceMappingURL=style.css.map */
