@import '../base/variables';
@import '../base/mapas';

body {
    
    main {
        
        section {


            div {

                .card {

                    font-family: 'Tiro Gurmukhi', serif;
                    border: 2px solid $bg-color;

                    .texto-director {

                        color:$bg-color;
                        background-color: $tx-color;
                        text-align: justify;
                        

                        .titulo-dir {

                            font-weight: bold;
                            text-align: center;
                            
                        }

                        p {
                            
                            span {

                                font-style: oblique;
                                
                            }
                        }                   
                    }
                }
            }
        }
    }
}

    
