@import '../base/variables';
@import '../base/extends';
@import '../base/mapas';
@import '../base/mixins';

body {

    .pie {

        font-family: 'Cinzel Decorative', cursive;
        font-size: 90%;
        height: 10rem;
        background: $bg-color;
        background: linear-gradient(180deg, rgba(0,15,34,0) 0%, rgba(0,15,34,1) 10%);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        @extend %flex;

        div {

            .logo2 {

                width: 25%;
                height: auto;
                padding-top: 1%;
                padding-left: 5%;

                @media screen and (max-width: 450px) {
                  
                    width: 40%;  
                    height: auto;
    
                }

                @media screen and (min-width: 451px) and (max-width: 960px) {
                  
                    width: 40%;  
                    height: auto;
    
                }
               
            }



        }
    
        .container-contacto {

            color: $tx-color;
            font-size: 133%;
            text-align: center;

            .mail {

                font-size: 75%;    
                padding-top: 0.25%;
               
            }
            
            @media screen and (max-width: 450px) {

                font-size: 90%;
                padding-right: 25%;

            }

            @media screen and (min-width: 451px) and (max-width: 960px) {

                font-size: 90%;
                padding-right: 20%;

            }
        }
        
        .container-redes {
 
            width: 50%;
            @include flexbox (flex, flex-end);   

            .img-redes {

                width: 35%;
                height: auto;

                @media screen and (max-width: 450px) {

                    width: 60%;
                    padding-right: 15%;

                }
                
                @media screen and (min-width: 451px) and (max-width: 960px) {

                    width: 50%;
                    padding-right: 15%;

                }
            }           
        }
        
        @media screen and (max-width: 450px) {

            height: 10rem;

        }

        @media screen and (min-width: 451px) and (max-width: 960px) {

            height: 10rem;

        }
    }
}