@import '../base/_variables';


body {


    .cabecera {

        height: 20rem;   
        color: $tx-color;
        background: $bg-color;
        background: linear-gradient(180deg, rgba(0,15,34,1) 95%, rgba(0,15,34,0) 100%); 
        display: grid;
        grid-template-columns: 1fr 1fr 1fr; 
        grid-template-rows: 0.5fr 0.5fr;
        justify-items: end;
        align-items: center;

        .container-logo {

            grid-row: 1 / span 3;

            .logo {

                width:50%;
                height:auto;
               
            }         
        }

        .frase {

            font-family: 'Cinzel Decorative', cursive;
            font-size: 90%;
            color: #f8d298;   
            font-style: oblique;
            text-align: end;
            padding-top: 2%;
            padding-right: 3%;
            padding-bottom: 6%;
            grid-column: 2 / span 3;

            @media screen and (max-width: 450px) {

                font-size: 9px;
       
            }

            @media screen and (min-width: 451px) and (max-width: 960px) {

                font-size: 10px;

            }
           
        }

        .nav {

            font-family: 'Cinzel Decorative', cursive;
            width: 100%;
            padding-bottom: 1%;
            margin-bottom: 2%;
            font-size: 110%;
            grid-column-end: 4;
            grid-column-start: 2;
            display: flex;

            .lista-nav {

                list-style: none;
                width: 100%;
                display: flex;
                justify-content: space-around;
               
                .link-nav {

                    color: $tx-color;
                    text-decoration: none;
                   
                }

                li :hover {

                    transition: all 0.5s; 
                    color: #f4dfc0;
                    
                }
                
                @media screen and (min-width: 451px) and (max-width: 960px) {

                    padding: 15px;
    
                }

            }

            @media screen and (max-width: 450px) {

               font-size: 7px;
               padding-right: 7px;
      
            }

            @media screen and (min-width: 451px) and (max-width: 960px) {

                font-size: 8px;

            }
    
        }

        @media screen and (max-width: 450px) {

          height: 12rem;

        }

        @media screen and (min-width: 451px) and (max-width: 960px) {

            height: 15rem;

        }




    }
}


    