@import '../base/variables';
@import '../base/mapas';


body {

    .principal {

        .resenas {

            display: grid;
            justify-items: center;


            .container-card {

                background-color: $tx-color;
                color: $bg-color;
                border: solid 2px $bg-color;
                border-radius: 7px;
              

                .contenido-card {

                    padding: 3px;

                    div {

                        .ficha {

                            font-style: oblique;
                            padding-top: 10px;
                            padding-left: 10px;

                            span {

                                font-weight: bold;
                                

                            }

                        }


                        .calificacion {

                            font-style: oblique;
                            padding-top: 10px;
                            padding-left: 10px;

                            span {

                                font-weight: bold;
                            }                          
                       }                        
                    }


                    div {

                        div {

                            .titulo {

                                font-weight: bold;
                                font-size: 30px;

                            }


                            .texto {

                                span {

                                    font-weight: bold;


                                }

                            }

                        } 

                    }

                }
                    
            }
                
        }
            
    }

}










